.product-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.text-left {
	text-align: left;
}

.product-image {
	height: 65vh;
	min-height: 300px;
}

.producto-side-text {
	font-size: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
