.inicio-container {
	margin-top: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.inicio-image {
	width: 40vw;
	max-width: 960px;
	min-width: 300px;
	margin: auto;
}

@media (max-width: 1000px) {
	.inicio-container {
		grid-template-columns: none;
		grid-template-rows: 1fr 1fr;
		grid-gap: 0.1fr;
	}
}
