.inicio-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 45px 200px;
}

.inicio-image-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.inicio-side-text {
	font-size: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.inicio-image {
	width: 40vw;
	max-width: 960px;
	min-width: 220px;
	margin: auto;
	object-fit: contain;
}

@media (max-width: 1400px) {
	.inicio-side-text {
		font-size: 25px;
	}

	.inicio-container {
		padding: 20px;
	}
}

@media (max-width: 1000px) {
	.inicio-side-text {
		font-size: 20px;
	}

	.inicio-container {
		grid-template-columns: none;
		grid-template-rows: 1fr 1fr;
		grid-gap: 0.1fr;
	}
}
