.navbar-container {
	background-color: #dbf3f3;
	box-shadow: 0 15px 45px 0 rgba(48, 48, 48, 0.2);
	display: flex;
	padding: 15px;
}

.nav-link-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.navbar-middle {
	flex-grow: 2;
}

.logo {
	height: 50px;
	margin: 0px 20px;
	vertical-align: middle;
}

.navbar-left {
	flex-grow: 1;
}

.navbar-right {
	flex-grow: 1;
}
