.footer-container {
	background-image: linear-gradient(#ffffff, #dbf3f3);
	display: flex;
	padding: 50px;
}

.footer-left,
.footer-middle,
.footer-right {
	flex-grow: 1;
}

.link-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 10px;
}

.footer-link {
	font-size: 20px;
	text-decoration: none;
	color: #000000;
}

.social-icon {
	height: 40px;
	margin: 10px;
}

@media (max-width: 1300px) {
	.link-container {
		grid-template-columns: none;
		grid-template-rows: repeat(auto, 4);
	}
}
