.contacto-container {
	display: flex;
	flex-direction: row;
}

.contacto-form {
	padding-right: 10%;
}

.input-field,
.comment-field {
	box-sizing: border-box;
	width: 100%;
	font-family: inherit;
	font-size: 17px;
	opacity: 0.9;
	border-radius: 5px;
	margin: 10px 0px;
	padding: 25px 30px;
	background-color: #f5f5f5 !important;
	border: none;
	resize: none;
}

.contacto-image {
	width: 40vw;
	max-width: 960px;
	min-width: 300px;
	margin: auto;
}

.enviar-button {
	width: 100%;
	border: none;
	background-color: #ffa36e;
	color: white;
	border-radius: 5px;
	box-shadow: 1px 1px #e1e1e1;
	box-sizing: border-box;
	align-self: flex-end;
	font-size: 25px;
	padding: 15px;
	cursor: pointer;
}

.enviar-button:disabled {
	background-color: #cccccc;
}

@media (max-width: 1000px) {
	.contacto-container {
		flex-direction: column-reverse;
	}

	.contacto-image {
		width: 70vw;
	}

	.contacto-form {
		padding: 10%;
	}
}
