.App {
	padding-left: 200px;
	padding-right: 200px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
}

.ui-inline-block {
	display: inline-block;
}

.ui-fill {
	display: flex;
}

.ui-fill-horizontal {
	flex-direction: row;
}

.ui-fill-vertical {
	flex-direction: column;
}

.ui-v-align-center {
	justify-content: center;
}

.ui-fill-grow {
	flex-grow: 1;
}

.ui-bg--red {
	background-color: #ee6666;
}

.ui-bg--blue {
	background-color: #c19dd9;
}

.ui-bg--green {
	background-color: #40ff9f;
}

.ui-bg--darkblue {
	background-color: #4ba2d4;
}

.ui-fixed-width {
	width: 200px;
	padding: 20px;
	cursor: pointer;
}

.ui-v-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.ui-main-title {
	font-size: 40px;
	margin-bottom: 10px;
	margin-top: 100px;
}

.ui-sub-title {
	font-size: 32px;
}

.ui-content-text {
	font-size: 26px;
	padding-left: 10%;
	padding-right: 10%;
}

@media (max-width: 1300px) {
	.App {
		padding-left: 100px;
		padding-right: 100px;
	}

	.ui-fixed-width {
		width: 150px;
		padding: 15px;
	}

	.ui-main-title {
		font-size: 32px;
		margin-top: 60px;
	}

	.ui-sub-title {
		font-size: 28px;
	}

	.ui-content-text {
		font-size: 20px;
	}
}

@media (max-width: 1000px) {
	.App {
		padding-left: 50px;
		padding-right: 50px;
	}

	.ui-fixed-width {
		width: 150px;
		padding: 10px;
	}

	.ui-main-title {
		font-size: 26px;
		margin-top: 40px;
	}

	.ui-sub-title {
		font-size: 22px;
	}

	.ui-content-text {
		font-size: 16px;
	}
}

@media (max-width: 700px) {
	.App {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.ui-text-bold {
	font-weight: bolder;
}
