.about-container {
	display: flex;
	flex-direction: row;
}

.about-image {
	width: 30vw;
	min-width: 300px;
}

.about-title h1 {
	font-size: 40px;
}

@media (max-width: 1000px) {
	.about-container {
		flex-direction: column;
	}
}
