.about-title {
	text-align: left;
	margin: 50px;
}

.about-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 30px;
	padding: 50px;
}

.about-middle {
	object-fit: contain;
}

.about-right {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.about-super-container {
	padding: 50px 150px;
}

.about-image {
	width: 30vw;
}

.about-title h1 {
	font-size: 40px;
}

.about-left p,
.about-right p {
	font-size: 25px;
}
